
Spring/app/src/main/resources/application.properties
Spring/app/src/main/resources/application.properties
Spring/app/src/main/resources/application.properties
React/server.cert
React/server_unencrypted.key
React/src/config.js
React/vite.config.js
React/Arşiv.zip
Spring/src/main/resources/mykeystore.jks
Spring/src/main/resources/mykeystore.p12
