/* Soldaki component r,g,b(229,229,229) olarak ayarlanıyor */
.bsb-tpl-bg-platinum {
    background-color: rgb(229, 229, 229);
}

/* Sağdaki component r,g,b(250,250,250) olarak ayarlanıyor */
.bsb-tpl-bg-lotion {
    background-color: rgb(250, 250, 250);
}

/* Giriş yap butonu ve 'Forgot password' alanı arasındaki çizgi */
.border-separator {
    border-top: 1px solid #ccc;
    /* Hafif gri bir çizgi */
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-body {
    position: absolute;

}

/* Logoyu responsive hale getir */
.navbar-brand img {
    max-width: 100% !important;
    height: auto !important;
    /* Yüksekliği otomatik ayarlayarak en-boy oranını koru */
    width: 135px !important;
    height: 45px !important;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 100px !important;
        /* Küçük ekranlar için logo genişliği ayarlanıyor */
        height: auto !important;
        /* Yüksekliği genişliğe göre otomatik ayarlıyoruz */
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        width: 80px !important;
        /* Daha küçük ekranlar için logo genişliği */
        height: auto !important;
    }
}

.vertical-divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    /* Çizgi için hafif siyah bir renk */
    height: 1.5rem;
    /* Çizgi boyu */
}